@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    outline: 0;
    margin: 0;
    padding: 0;
}
html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
}
a {
    text-decoration-line: none;
    color: inherit;
  /*   text-decoration-line: underline; */
  /*   text-decoration-line: overline; */
  /*   text-decoration-line: line-through; */
  /*   text-decoration-line: underline line-through overline; */
  }
.backgroundImg{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(./asset/배경4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* filter: blur(5px); */
}
.container{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}

.mainBar{
 width: 100vw;
 height: 70vh;
}

.footer{
 width: 100vw;
 height: 10vh;
 /* background-color: cornflowerblue; */
}

#map {
    display: none;
    /* position: absolute;
    left: 30%;
    top: 10%; */
    height: 500px; 
    min-width: 500px; 
    max-width: 500px; 
    margin: 0 auto;

    /* background-color: yellow; */
    /* filter: blur(5px); */
    /* border: 3px black solid; */
    
}



/****************
*****************/

.navbar{
    display: grid;
    grid-template-columns: 30% 70%;

    /* position: fixed; */
    width: 100%;
    height: 20vh;
    z-index:999;
    /* padding: 30px 0; */
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}

.menuBar{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.topMenu{
    display: grid;
    grid-template-columns: 60% 40%;
    margin-top: 2%;
    opacity: 0.5;
}

.bottomMenu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

    font-family: 'Ubuntu', sans-serif;
    color: blanchedalmond;
    font-weight: bold;

    font-size: 20px;
}
.bottomMenu > *{
    animation: infinite 4s fontBox;

    text-shadow: burlywood 1px 0 10px;
}

.icons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}

.logo{
    color: blanchedalmond;
    margin-left: 1%;
    margin-top: 1%;

    font-size: 30px;
}

#content{
    position: absolute;
    top: 240px;
    left: 50px;
    /* border: 2px solid blue; */
}

.travel{
    font-family: 'Ubuntu', sans-serif;
    color: blanchedalmond;
    font-size: 88px;
    font-weight: bolder;
}

.writing{
    display: grid;
    grid-template-columns: 70% 30%;
    width: 400px;
    /* background-color: green; */
    margin: 2%;
    margin-top: 5%;
    /* -webkit-text-stroke-width: 0.6px;
	-webkit-text-stroke-color: blanchedalmond; */
    color: blanchedalmond;
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    letter-spacing: 0.4em;
    word-spacing: 0.6em;

    line-height: 1.5em;
    font-weight: bold;
}

.start{
    text-align: center;
    line-height: 550%;

    margin-left: 5%;
    width: 90px;
    height: 80px;
    border: 1px solid blanchedalmond;
    box-shadow: 0 0 5px rgba(105, 105, 105, 0.829) inset,
    0 0 15px rgba(143, 143, 143, 0.829) inset,   
    0 0 30px rgba(255, 255, 255, 0.856) inset,
    0 0 5px rgba(255, 255, 255, 0.952);
    border-radius: 5%;

    cursor: pointer;

    letter-spacing: 0.2em;

    background-color: lightblue;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    color: orangered;

    animation: infinite 3s startBox linear;
}

@keyframes startBox{
    50%{
      opacity: 0.5;
    }100%{
        opacity: 1;
    }
}

@keyframes fontBox{
    50%{
        /* color: burlywood; */
        /* transform: rotateX(23deg); */
        opacity: 0.5;
    }100%{
        opacity: 1;
        /* color: azure */
        /* transform: rotateX(-23deg); */
    }
}

.blockMap{
    display: block;
}